* {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222222;
}



/*general styling for every element in main*/
.mainLorem {
    padding-top: 50px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 5em;
    margin-right: 5em;
    row-gap: 30px;
}

.lime {
    display: flex;
    padding-top: 10px;
    column-gap: 220px; 
    text-align: center;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.dropDown {
    width: 28px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.showMenu{
    display: flex;
    flex-direction: column;
    background-color: #bdbdbd;
    padding: 40px;
    border: 2px solid #4d4d4d;
    border-radius: 25px;
    position: fixed;
    top: 60px;
    right: 24em; 
}

/*I wanted to have a minor animation to have the "dropdown effect" but didn't figure it out in time*/
/* .showMenu:active {
    transition: 0.8s ease;
} */

/*Default theme styling*/

.themeOne {
    background-color: #1dd86ea9;
}

.power {
    width: 28px;
    cursor: pointer;
}

.powerOn {
    display:none;
}


/*Secondary theme styling*/

.themeTwo {
    background-color: #ed9f45;
}

/* wanted to add a linear-gradient on the secondary theme, but ran unto a form of error
 linear-gradient(#faaa15, #fc7d0d, #d92a13) */

.powerOn {
    width: 28px;
}

